@import _Fuentes.sass
@import _Variables.sass
@import _NavBar.sass
@import _Salud.sass
@import _Alimentacion.sass
@import _Deporte.sass

.Body
    background-color: beige
    overflow-x: hidden
    width: 100vw
    max-width: 100vw
.Aspect_Container
    display: flex
    flex-direction: row
    padding-top:  4rem
    color: white
    font-family: $Titulo